<!DOCTYPE html>
<html>
<head>
    <title>List of Videos</title>
</head>
<body>
    <h1>List of Videos</h1>
    <!-- <ul>
        {% for video in videos %}
            <li>{{video.demo}} {{ video.title }} - {{ video.published_date }}</li>
        {% endfor %}
    </ul> -->
    {%for video in videos %}
    Video demo:{{video.demo}}<br>
    Video title:{{video.title}}<br>
    Video published_date:{{video.published_date}}<br>
    <br>
    {% endfor %}
    <br>
    Thank you very much
</body>
</html>